@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import './theme.css';

/*! purgecss start ignore */
@import './prose.css';
@import './scrollbar.css';
/*! purgecss end ignore */

@source '../**/*.{js,ts,jsx,tsx}';

@layer base {
  * {
    @apply outline-accent-500 scroll-mt-12;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-primary-50 text-primary-600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-alternative text-primary-700;

    & + p {
      @apply font-alternative text-primary-400 text-base font-light sm:text-lg lg:text-xl;
    }
  }

  h1 {
    @apply text-3xl font-semibold sm:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-2xl font-semibold sm:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl font-normal sm:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-lg font-normal uppercase sm:text-xl lg:text-2xl;
  }

  h5 {
    @apply text-lg font-normal uppercase sm:text-xl lg:text-2xl;
  }

  h6 {
    @apply text-lg font-normal uppercase sm:text-xl lg:text-2xl;
  }

  a {
    @apply text-accent-500;
  }

  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator,
  input[type='datetime-local']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}
