@layer base {
  .prose {
    hr {
      @apply border-primary-100 my-12;
    }

    h2,
    h3 {
      @apply text-xl tracking-tight;
    }

    h2 {
      @apply mb-2.5 text-lg;
    }

    h3 {
      @apply mt-10 text-base;
    }

    h4,
    h5,
    h6 {
      @apply mt-8 text-sm;
    }

    h2 small,
    h3 small,
    h4 small,
    h5 small,
    h6 small {
      @apply text-primary-500 font-mono font-medium;
    }

    h2 small {
      @apply text-lg;
    }

    h3 small {
      @apply text-base;
    }

    h4 small,
    h5 small,
    h6 small {
      @apply text-sm;
    }

    ul {
      > li {
        &::before {
          content: '';
          width: 0.75rem;
          height: 0.125rem;
          top: calc(0.875rem - 0.0625rem);

          @apply bg-primary-300 absolute left-0 rounded-full;
        }

        @apply relative pl-6;
      }

      @apply list-none pl-0;
    }

    a {
      &:hover {
        @apply border-b-2;
      }

      code,
      strong {
        color: inherit;
        font-weight: inherit;
      }

      @apply border-none font-semibold decoration-0;
    }

    strong {
      @apply text-primary-900 font-semibold;
    }

    code {
      font-variant-ligatures: none;
      @apply font-medium;
    }

    pre {
      + pre {
        @apply -mt-5;
      }

      code {
        @apply min-w-full flex-none;
      }

      @apply bg-primary-50 text-primary-700 mt-5 mb-10 flex rounded-xl p-5 shadow-md;
    }

    p + pre {
      @apply -mt-1.5;
    }

    table {
      @apply text-sm;
    }

    thead {
      th {
        @apply pt-0 font-semibold;
      }

      @apply border-b-primary-200 text-primary-700;
    }

    tbody {
      tr {
        &:last-child {
          @apply border-b-2;
        }

        @apply border-b-primary-100;
      }

      code {
        @apply text-xs;
      }
    }

    figure {
      figcaption {
        @apply text-center italic;
      }

      > figcaption {
        @apply mt-3.5;
      }
    }

    nav {
      a {
        &:hover {
          @apply text-primary-900;
        }

        &:target {
          @apply text-accent-500;
        }

        @apply text-primary-700;
      }

      ol {
        @apply mt-4 list-none p-0;
      }

      > ol {
        > li {
          > a {
            @apply font-semibold;
          }

          @apply mt-4 p-0;
        }

        ol {
          & > li {
            &::before {
              content: '';
              display: inline-block;
              width: 0.4rem;
              height: 0.4rem;
              top: -1px;
              border-right: 0.15rem solid;
              border-top: 0.15rem solid;
              transform: rotate(45deg);
              margin-right: 0.5rem;
            }

            & > a {
              @apply font-normal;
            }

            @apply relative my-0 mr-0 ml-4 p-0;
          }

          ol {
            @apply hidden;
          }

          @apply mt-0;
        }
      }
    }

    @apply text-primary-600 max-w-none;
  }
}
