@theme {
  /* Fonts */
  --font-sans:
    var(--font-lato), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-serif: var(--font-lato), ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    var(--font-fira-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --font-alternative:
    var(--font-montserrat), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* Colors */
  --color-*: initial;

  --color-accent-50: #2c64ff;
  --color-accent-100: #005afe;
  --color-accent-200: #0050e3;
  --color-accent-300: #0045c8;
  --color-accent-400: #003db4;
  --color-accent-500: #003399;
  --color-accent-600: #002a82;
  --color-accent-700: #001f65;
  --color-accent-800: #00164e;
  --color-accent-900: #000d37;
  --color-accent-950: #00082a;

  --color-primary-50: #f6f6f6;
  --color-primary-100: #ebebeb;
  --color-primary-200: #d7d7d7;
  --color-primary-300: #c4c4c4;
  --color-primary-400: #b0b0b0;
  --color-primary-500: #9e9e9e;
  --color-primary-600: #7c7c7c;
  --color-primary-700: #5c5c5c;
  --color-primary-800: #3e3e3e;
  --color-primary-900: #222222;
  --color-primary-950: #151515;

  /* Sizes */
  --breakpoint-3xl: 120rem;

  --container-8xl: 96rem;
  --container-9xl: 120rem;
}
