@theme {
  /* Fonts */
  --font-sans:
    var(--font-lato), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-serif: var(--font-lato), ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    var(--font-fira-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --font-alternative:
    var(--font-montserrat), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* Colors */
  --color-*: initial;

  --color-accent-50: oklch(87.889% 0.05718 133.97);
  --color-accent-100: oklch(85.838% 0.06821 134.51);
  --color-accent-200: oklch(81.514% 0.08983 134.71);
  --color-accent-300: oklch(77.22% 0.11119 134.98);
  --color-accent-400: oklch(72.986% 0.13069 135.54);
  --color-accent-500: oklch(68.382% 0.14436 135.78);
  --color-accent-600: oklch(61.023% 0.1272 135.76);
  --color-accent-700: oklch(53.699% 0.11095 135.89);
  --color-accent-800: oklch(45.841% 0.09248 135.9);
  --color-accent-900: oklch(37.7% 0.07235 135.21);
  --color-accent-950: oklch(33.586% 0.06235 135.5);

  --color-primary-50: #f6f6f6;
  --color-primary-100: #ebebeb;
  --color-primary-200: #d7d7d7;
  --color-primary-300: #c4c4c4;
  --color-primary-400: #b0b0b0;
  --color-primary-500: #9e9e9e;
  --color-primary-600: #7c7c7c;
  --color-primary-700: #5c5c5c;
  --color-primary-800: #3e3e3e;
  --color-primary-900: #222222;
  --color-primary-950: #151515;

  /* Sizes */
  --breakpoint-3xl: 120rem;

  --container-8xl: 96rem;
  --container-9xl: 120rem;
}
